extends layout

block content
    h1.text-center
        a(href="/pair/btc_usd") BTC-USD
    h1.text-center
        a(href="/pair/btc_rur") BTC-RUR
    h1.text-center
        a(href="/pair/ltc_usd") LTC-USD
    h1.text-center
        a(href="/pair/ltc_rur") LTC-RUR
